                           {% for i in range(1, anime_info["duration"] + 1) %}
								{% if episode == i %}
									<div class="b-video_variant active" data-episode="{{i}}"><a href="/index.html#/?anime_id={{anime_id}}&episode={{i}}"><span class="episode-num">#{{i}}</span><span class="episode-kinds">озвучка, субтитры, оригинал</span><span class="episode-hostings">vk, smotretanime, sibnet, ok</span></a></div>
								{% else %}
									<div class="b-video_variant" data-episode="{{i}}"><a href="/index.html#/?anime_id={{anime_id}}&episode={{i}}"><span class="episode-num">#{{i}}</span><span class="episode-kinds">озвучка, субтитры, оригинал</span><span class="episode-hostings">vk, smotretanime, sibnet, ok</span></a></div>
								{% endif %}
                           {% endfor %}