                            {% for kind in ["subtitles", "fandub", "raw"] %}
                            {% if anime_videos["active_kind"] == kind %}
                            <div class="video-variant-group active" kind="{{kind}}">
                            {% else %}
                            <div class="video-variant-group" kind="{{kind}}">
                            {% endif %}
                                    {% for a in anime_videos[kind] %}
                                    <div id="video_{{a['id']}}" class="b-video_variant{{a['active']}}" video_url="{{a['url']}}">
                                        <a class="video_link" id="a_{{a['id']}}">
                                            <span id="video_kind_video_{{a['id']}}" class="video-kind {{a['language']}}" style="margin-bottom: 15px;">{{a['kind']}}</span>
                                            <span id="video_hosting_video_{{a['id']}}" class="video-hosting">{{a['video_hosting']}}</span>
                                            <span id="video_author_video_{{a['id']}}" class="video-author">{{a['author']}}</span>
                                            <input id="video_uploader_video_{{a['id']}}" type="hidden" value="{{a['uploader']}}" />
			                </a>
                                    </div>
                            {% endfor %}
                            </div>
                              {% endfor %}
                              <div class="video-variant-group" kind="all">
                                 {% for kind in ["fandub", "subtitles", "raw"] %}
                                 {% for a in anime_videos[kind] %}
                                 <div class="b-video_variant" video_id="{{a['id']}}" id="video_all_{{a['id']}}" video_url="{{a['url']}}">
                                 <a class="video_link" id="all_a_{{a['id']}}">
                                     <span id="video_kind_video_all_{{a['id']}}" class="video-kind {{a['language']}}" style="margin-bottom: 15px;">{{a['kind']}}</span>
                                     <span id="video_hosting_video_all_{{a['id']}}" class="video-hosting">{{a['video_hosting']}}</span>
                                     <span id="video_author_video_all_{{a['id']}}" class="video-author">{{a['author']}}</span>
                                     <input id="video_uploader_video_all_{{a['id']}}" type="hidden" value="{{a['uploader']}}" />
			         </a>
                                 {% endfor %}
                                 {% endfor %}
                              </div>
